{% extends 'base.html' %}

{% block content %}
<h1>Choose the "today" to fetch into the database:</h1>
  <form action="/" method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="Submit">
  </form>

  <h1> Data from the cache database: </h1>

  {% if data %}
    <ul>
    {% for item in data %}
        <p> {{ item.citytitle }} - {{ item.date }} - MaxTemp {{ item.maxtemp }} - MinTemp {{ item.mintemp }} - Humidity {{ item.humidity }} </p>
    {% endfor %}
    </ul>
	{% else %}
		<p>No data.</p>
	{% endif %}
{% endblock %}
